<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs')%> 

<body>

   <%- include('../partials/header.ejs') %> 
    
    <main class="main-detail">

        <section class="seccion-detalle">
            <article class="tarjeta-detalle">
                
                <img class="imagen-detalle-productos" src="/images/products/<%= product.image %>">
                <div class="div-detalle">
                    <h2 class="titular-detalle"><%= product.name %></h2>
                    <p class="detalle">Detalle: <%= product.description %></p>
                    <p class="detalle">Precio: $<%= product.price%></p>

                    <a href="/products/productCart">
                        <button class="boton-detalle" type="submit">Comprar</button>
                    </a>    
                    
                </div>
            </article> 
            <% if (locals.isLogged && locals.userLogged.rol == "admin") { %>
            <section class="form-detalle">
               
            <form action="/products/productEdit/<%= product.id %>" method="get">
                <button class="boton-detalle" type="submit">Editar</button>
            </form>
               
                <form action="/products/delete/<%= product.id %>?_method=delete" method="post">
                    <button class="boton-detalle" type="submit">Eliminar</button>
                </form>

            </section>
            <% } %> 
        </section>

    </main>

    <%- include('../partials/footer.ejs') %> 

</body>

</html>